/*Студия*/
.hero {
  background: #2f303a;
  font-family: Roboto;
  letter-spacing: 0.06em;

  text-align: center;
  color: var(--primary-white-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-transform: uppercase;
}

.primary {
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87x;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.work {
  list-style: none;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.work-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}
.work-description {
  font-weight: 400;
  line-height: 1.71;

  color: var(--secondary-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.section-photo {
  list-style: none;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
/* Страничка Портфолио */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-background-color: #ffffff;
}

body {
  background: var(--main-background-color);

  font-family: Roboto, sans-serif;
}

.logo-primary {
  color: var(--accent-color);
}
.logo-secondary {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;

  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
}

.site-nav .link {
  color: var(--primary-text-color);
}

.site-auth .link {
  color: var(--secondary-text-color);
}

.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  list-style: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.table {
  display: inline-flex;
  list-style: none;
}

.list .button-primary,
.table .button-primary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.site-nav .primary:hover,
.site-nav .primary:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.photo-post {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.division {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

footer {
  background: #2f303a;
}

.logo-sec {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--primary-white-color);

  text-decoration: none;
}

.footer-portfolio {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
}

address {
  font-style: normal;
  color: var(--primary-white-color);
}

.footer-address {
  list-style: none;
}

.address-footer {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
}
